<div class="container">
    <h1>Add Drug to Stock List</h1>
    <form method="post" class="row g-3">
        {% csrf_token %}

        <div class="col-md-6">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="col-md-6">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>

        <div class="col-md-6">
            {{ form.supplier.label_tag }}
            {{ form.supplier }}
        </div>

        <div class="col-md-6">
            {{ form.batch_number.label_tag }}
            {{ form.batch_number }}
        </div>



        <div class="col-12">
            <button type="submit" class="btn btn-primary text-center">Add Medicine</button>
        </div>
    </form>
</div>