 <div class="container mt-4" id="sales">
        <h1 class="mb-4">Sales for Today</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Medicine</th>
                    <th scope="col">Quantity Sold</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.medicine.name }}</td>
                    <td>{{ sale.quantity_sold }}</td>
                    <td>Ksh {{ sale.selling_price }}</td>
                     <td>{{ sale.sales_date|date:"Y-m-d" }}</td>
{#                    <td>{{ sale.sales_date|time:"H:i A" }}</td>  <!-- Format time in HH:mm AM/PM -->#}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>